<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

       

 
        <h1>Upload de Arquivo Sem Recarregar</h1>
        <input type="file" id="fileInput">
        <button id="uploadButton">Enviar</button>
        <div id="status"></div>
    
        <script>
            $(document).ready(function() {
                $("#uploadButton").click(function() {
                    const fileInput = document.getElementById('fileInput');
                    const file = fileInput.files[0];
    
                    if (file) {
                        const formData = new FormData();
                        formData.append('file', file);
    
                        $.ajax({
                            url: '/upload/',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            xhr: function() {
                                const xhr = new window.XMLHttpRequest();
                                xhr.upload.onprogress = function(event) {
                                    if (event.lengthComputable) {
                                        const percent = (event.loaded / event.total) * 100;
                                        $("#status").text('Carregando: ' + percent.toFixed(2) + '%');
                                    }
                                };
                                return xhr;
                            },
                            success: function(response) {
                                $("#status").text('Upload bem-sucedido!');
                            },
                            error: function() {
                                $("#status").text('Erro ao fazer upload.');
                            }
                        });
                    }
                });
            });
        </script>
  
    
</body>
</html>